html, body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  font-size:3.5vh;
}
canvas {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  font-size:4vh;
  text-align: center;
}

