html,
body {
  background-color: black;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
canvas {
  display: block;
}

/* The Modal class */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content class */
.modal-content {
  background-color: rgba(205, 229, 231, 0.8);
  position: absolute;
  width:30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.modal-header {
  text-align: center;
  margin-top: 0px;
  font-size: 32px;  
}
.modal-content > p,
li {
  padding: 10px;
}
.modal-content > button {
  display: block;
  font-size: 28px;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: rgb(5, 75, 101);
  border-radius: 10px;
  color: white;
}
