:root {
  --green: rgb(95, 192, 95);
  --yellow: rgb(204, 204, 63);
  --gray:rgb(128, 128, 128);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100svw;
    height: 100svh;
    background-color: white;
    touch-action: manipulation;
}  

h1 {
 text-align: center;
 font-size: 3svh;
 padding: 10px 5px;
}

#help-span{
  color: var(--green);
}

#help-span:hover{
  cursor:pointer;
}

#words-board {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 5px;
}

@media only screen and (max-width: 600px) {
  .letter-box {
    height: 13svw;
    width: 13svw;
  }
  .keyboard-button {
    width:8svw;
    height:6.5svh;
  }
  .modal-content {
    width:svw;
    margin:19svh auto;
  }
  .modal-result {
    width:svw; 
    margin:48svh auto;
  }
}

@media only screen and (min-width: 600px) {
  .letter-box {
    height:7svh;
    width: 7svh;
  }
  .keyboard-button {
    width:3svw;
    height:5svh;
  }
  .modal-content {
    width:35svw;
    margin:32svh auto;
  }
  .modal-result {
    width:35svw; 
    margin:32svh auto;
  }
}

.letter-box {
  border: 1px solid rgb(201, 201, 201);
  margin: 2px;
  font-size: 2.4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: transform 0.8s;
}

.filled-box {
  border: 1px solid black;
}

.word-row {
  display: flex;
}

#keyboard-container {
  padding:5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-container div {
  display: flex;
}

.second-row {
  padding:10px 5px;
}

.keyboard-button {
  font-size: 1.2rem;
  
  border-radius: 5px;
  border-width: 0px;
  font-weight: 500;
  padding: 0.5rem;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #d8d8d8;
}
#enter-button{
  font-size: 0.8rem;
  width:3.8rem;
  background-color: var(--green);
  color: white;
}
#delete-button{
  font-size: 0.8rem;
  width:3.8rem;
  background-color: #c6095e;
  color:white;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100svw; 
  height: 100svh; 
  overflow: none; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* The Modal-Header*/
#modal-header{
  text-align: center;
  font-size: 1.2rem;
  padding: 5px;
}

/* The Modal-Close Button */
#modal-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#modal-close:hover,
#modal-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  padding:5px 20px;
  border: 1px solid #888; 
}
.modal-content > p, li {
  padding: 5px 0px;
}

.modal-alert{
  background-color:rgba(140, 2, 2, 0.8);
  margin: auto;
  margin-top: 200px;
  padding:5px 10px;
  border: 0px solid #efabab;
  width:20rem;
}

.alert{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 5px;
  color:white;
}

.modal-result {
  background-color: #fefefe;
  padding:20px 20px;
  border: 1px solid #888;
}
#modal-result-header{
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
}

.modal-p-result{
  text-align: center;
  font-size: 1rem;
  padding: 15px;
}
#word-result{
  text-transform: uppercase;
  color:var(--green);
  font-size: 1.2rem;
}

#next-word{
  display: block;
  font-size: 1.2rem;
  padding:10px 10px;
  margin:0 auto;
  background-color: var(--green);
  border-radius: 5px;
  color:white;
}